[build]
  command = "npm run build"
  publish = "out"

[build.environment]
  NEXT_TELEMETRY_DISABLED = "1"
  NODE_VERSION = "18"

[[plugins]]
  package = "netlify-plugin-a11y"
  [plugins.inputs]
    resultMode = "warn"
    checkPaths = ['/']